basePath: /api/v1
definitions:
  CreateSubscriptionRequest:
    properties:
      price:
        example: 1299
        type: integer
      service_name:
        example: Yandex Plus
        type: string
      start_date:
        example: 03-2024
        type: string
      user_id:
        example: 550e8400-e29b-41d4-a716-446655440000
        type: string
    required:
    - price
    - service_name
    - start_date
    - user_id
    type: object
  DeleteSubscriptionResponse:
    properties:
      id:
        example: 123
        type: integer
    type: object
  ErrorResponse:
    properties:
      error:
        example: Invalid request
        type: string
    type: object
  SubscriptionResponse:
    properties:
      id:
        example: 123
        type: integer
      price:
        example: 1899
        type: integer
      service_name:
        example: Yandex Plus
        type: string
      start_date:
        example: 05-2025
        type: string
      user_id:
        example: 6ba7b811-9dad-11d1-80b4-00c04fd430c8
        type: string
    type: object
  SumSubscriptionResponse:
    properties:
      sum:
        type: integer
    type: object
  UpdateSubscriptionRequest:
    properties:
      price:
        example: 1599
        type: integer
      service_name:
        example: Yandex Plus
        type: string
      start_date:
        example: 07-2024
        type: string
      user_id:
        example: 6ba7b810-9dad-11d1-80b4-00c04fd430c8
        type: string
    type: object
host: em-task.compico.su
info:
  contact: {}
  description: API для управления подписками
  termsOfService: http://swagger.io/terms/
  title: Subscription API
  version: "1.0"
paths:
  /subscriptions:
    get:
      consumes:
      - application/json
      description: Получает список подписок
      parameters:
      - description: Страница
        in: query
        name: page
        type: string
      - description: Элементов на страницу
        in: query
        name: per_page
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/SubscriptionResponse'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Получить список подписок
      tags:
      - subscriptions
    post:
      consumes:
      - application/json
      description: Создает новую подписку в системе
      parameters:
      - description: Данные подписки
        in: body
        name: subscription
        required: true
        schema:
          $ref: '#/definitions/CreateSubscriptionRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/SubscriptionResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Создать подписку
      tags:
      - subscriptions
  /subscriptions/{id}:
    delete:
      consumes:
      - application/json
      description: Удаляет подписку по её ID
      parameters:
      - description: ID подписки
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "204":
          description: No Content
          schema:
            $ref: '#/definitions/DeleteSubscriptionResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Удалить подписку
      tags:
      - subscriptions
    get:
      consumes:
      - application/json
      description: Получает подписку по её ID
      parameters:
      - description: ID подписки
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/SubscriptionResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Получить подписку
      tags:
      - subscriptions
    put:
      consumes:
      - application/json
      description: Обновляет существующую подписку по ID
      parameters:
      - description: ID подписки
        in: path
        name: id
        required: true
        type: integer
      - description: Обновленные данные подписки
        in: body
        name: subscription
        required: true
        schema:
          $ref: '#/definitions/UpdateSubscriptionRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/SubscriptionResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Обновить подписку
      tags:
      - subscriptions
  /subscriptions/sum:
    get:
      consumes:
      - application/json
      description: Получает сумму цены с возможностью фильтрации по различным параметрам
      parameters:
      - description: 'Фильтр по начальной дате (формат: MM-YYYY)'
        in: query
        name: from
        type: string
      - description: 'Фильтр по конечной дате (формат: MM-YYYY)'
        in: query
        name: to
        type: string
      - description: Фильтр по ID пользователя (UUID)
        in: query
        name: user_id
        type: string
      - description: Фильтр по названию сервиса
        in: query
        name: service_name
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/SumSubscriptionResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Получить сумму цен подписок
      tags:
      - subscriptions
schemes:
- https
swagger: "2.0"
